# WordPress
.DS_Store
.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/

# Development
*.log
*.tmp
*.bak
*.swp
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Composer
/vendor/
composer.lock

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env
.env.local
